// colors
// ==============

$mainText: #000000;
$invertedText: #ffffff;
$lightText: #999999;
$accentOrange: #ff5617;
$accentBlue: #2c3da7;
$mainBg: #ffffff;
$cardBorder: #e7e7e7;

$mainFontFamily: "Poppins", sans-serif;

$mainTitle: 100px;
$sectionTitle: 70px;
$sectionSubtitle: 22px;

$transition: all 0.3s ease-in-out;
